.DiaryList {
}
.DiaryList .menu_wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;  /* 좌측 정렬 */
    align-items: center;          /* 수직 중앙 정렬 */
    font-size: 20px;              /* 글자 크기 */
    text-align: left;             /* 텍스트 좌측 정렬 */
    padding-left: 20px;           /* 왼쪽 여백 추가 */
    background-color: #FFCEF6;    /* 배경색 설정 */
    height: 40px;                 /* 높이 설정 */
    border-radius: 5px;           /* 모서리 둥글게 */
}
