.adminStatistics {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminStatistics_container {
  background-color: #fff;
}

.Footer {
  margin-top: auto; /* Footer를 하단에 고정 */
}
