.CardPasswordChange {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이를 보장 */
}

.content {
    flex: 1; /* 헤더와 푸터 사이의 공간을 차지하도록 설정 */
    padding: 20px;
}

.password_change_container {
    max-width: 500px;
    margin: 0 auto;
}

.MuiButton-root {
    margin-top: 20px;
}
