@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

html,
body {
  margin: 0;
  font-family: "Gamja Flower", cursive;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}
body {
  height: 100%;
}
#root {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: white;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%; /* 화면의 중앙 위치 */
  transform: translateX(-50%); /* 중앙 정렬 */
  text-align: center;
  width: 600px; /* 필요 시 width를 설정 */
}
